*{
    padding: 0;
    margin: 0;
}

.image{
    background-image: url(./huddle-landing-page-with-alternating-feature-blocks-master/images/bg-hero-desktop.svg);
    background-repeat: none;
}

.image-2{
    background-image: none;
}
